# README.md

Research Question: For the 399 pts with the 899 rows of info, what are the last PSA values before dx date?

# Step1, read from spreadsheet, clean up, and get statistics

In [265]:
import numpy as np
import pandas as pd
import sys, getopt
import csv
from datetime import datetime
from datetime import timedelta, date
import itertools

from matplotlib import pyplot
from pylab import *
import matplotlib.pyplot as plt

%matplotlib inline  
import seaborn as sns

In [266]:
#dx info
df1=pd.read_csv("./data/pts_ml_as_select_distinct_cc_person_id_cc_cancer_type_name_202102261747.csv", header=0)
#targeted table row pt list
df2=pd.read_excel("./data/pt_list_all_rows.xlsx", header=0) 
#psa info
df_psa=pd.read_csv("./data/PSA_values_labs_and_notes_temp_202103031711_fixed.csv", header=0) 
#fixed get rid of ">" or "<" symbols

df1.fillna('', inplace=True)
df1.replace(r'', np.NaN)
df1[:3]

df2.fillna('', inplace=True)
df2.replace(r'', np.NaN)
df2[:3]

df_psa.fillna('', inplace=True)
df_psa.replace(r'', np.NaN)
df_psa[df_psa['person_id']==339]

df1_pt['dxdate'] = pd.to_datetime(df1_pt['dxdate'])
df_psa['psa_date'] = pd.to_datetime(df_psa['psa_date'])

In [267]:
df1[:3]

,person_id,cancer_type_name,source_type,dxdate,dx_year,dx_month,date_of_birth,date_of_death,gender,race,ethnicity,ageatdx,psa,psa_date
0,2,PCA,ml,1/7/03,2003,1,10/15/33,4/22/17 0:00,Male,White,Not Hispanic or Latino,69,1.51,1/7/03
1,11,PCA,ml,3/19/12,2012,3,1/22/68,,Male,Black or African American,Not Hispanic or Latino,44,,
2,12,PCA,ml,10/24/12,2012,10,2/9/43,,Male,Black or African American,Not Hispanic or Latino,70,,

# For 899 rows for 399 pts in rows of patient ids in df2, just before and on dx date in df1, what are the PSA values?

In [268]:
#need dx date info from this table 
df1_grouped=df1.groupby(["person_id"]).size().reset_index(name='counts')
list_pts_dx=df1["person_id"].to_list()

#need pt list for the result table 
list_pts_899row=df2["person_id"].to_list()
df2_grouped=df2.groupby(["person_id"]).size().reset_index(name='counts')
list_pts_399pts=df2_grouped["person_id"].to_list()

#need pt list that has PSA
df_psa_grouped=df_psa.groupby(["person_id"]).size().reset_index(name='counts')
list_pts_psa=df_psa_grouped["person_id"].to_list()

#find out overlapping lists for dx
intersection_set_dx=set.intersection(set(list_pts_399pts),set(list_pts_dx))
print("overlapping counts dx:")
print(len(intersection_set_dx))
overlap_list_dx=list(intersection_set_dx)

#find out overlapping lists for psa
intersection_set_psa=set.intersection(set(list_pts_399pts),set(list_pts_psa))
print("overlapping counts psa:")
print(len(intersection_set_psa))
overlap_list_psa=list(intersection_set_psa)

intersection_set_allthree=set.intersection(set(list_pts_399pts),set(list_pts_psa),set(list_pts_dx))
print("overlapping counts dx_psa_targeted_table:")
print(len(intersection_set_allthree))

overlapping counts dx:
376
overlapping counts psa:
367
overlapping counts dx_psa_targeted_table:
350

In [269]:
list_pts_399pts[:10]
list_pts_399pts[-10:]

[195757,
 196351,
 197112,
 198262,
 201667,
 202211,
 202841,
 203350,
 205050,
 205289]

In [270]:
index_list=df1.columns
index_list

Index(['person_id', 'cancer_type_name', 'source_type', 'dxdate', 'dx_year',
       'dx_month', 'date_of_birth', 'date_of_death', 'gender', 'race',
       'ethnicity', 'ageatdx', 'psa', 'psa_date'],
      dtype='object')

In [271]:
print(df1.shape)

(16018, 14)

In [272]:
#test out scenarioes
#[267, 339, 345, 435, 805]
#339 has no psa before dx

# The cell below is reserved for prototyping and spot checking

In [273]:
y=8334
df1_pt=df1[(df1["person_id"] == y)]
df1_pt['dxdate'] = pd.to_datetime(df1_pt['dxdate'])

pt_dx_date=df1_pt["dxdate"].to_list()[0]
#df2 only provide the 899 row of pt list 
print(pt_dx_date)
df_psa_pt=df_psa[(df_psa["person_id"] == y)]
print(type(pt_dx_date))

2018-09-07 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [274]:
df_psa_pt[:5]

      person_id   psa_date psa_value matched_psa_date
1527       8334 2007-07-02       4.5
1528       8334 2011-09-20      8.21
1529       8334 2009-02-12      7.36
1530       8334 2012-05-16      8.18
1531       8334 2017-05-16      18.6          5/16/17

In [275]:
# for these 399 pts, how many had psa results before dx?

for y in list_pts_899row: 

    df1_pt=df1[(df1["person_id"] == y)]
    df1_pt['dxdate'] = pd.to_datetime(df1_pt['dxdate'])
    
    if df1_pt["dxdate"].empty:
        count=0

    if not df1_pt["dxdate"].empty:
        pt_dx_date=df1_pt["dxdate"].to_list()[0]
        df_psa_pt=df_psa[(df_psa["person_id"] == y)]
        df_psa_pt_before_dx=df_psa_pt[df_psa_pt.psa_date <= pt_dx_date]
        count=shape(df_psa_pt_before_dx)[0]
    #print(y,count)

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [276]:
def closest(lst, K): 
      return lst[min(range(len(lst)), key = lambda i: abs(lst[i] - K))] 
    
#psa_date=closest(start_sorted_bin,pt_dx_date)

In [277]:
# for these 399 pts, how many had psa results before dx?
#sort all psa dates; find the last before dx; grab the dates, and all values on that date 
values=[]
result_list=[]

for y in list_pts_899row: 

    # pt must be in the dx_date list
    if y not in overlap_list_dx:
        count=0
        last_psa_date='NaN'
        values=['NaN']        

    if y in overlap_list_dx:
        df1_pt=df1[(df1["person_id"] == y)]
        df1_pt['dxdate'] = pd.to_datetime(df1_pt['dxdate'])
    
        if df1_pt["dxdate"].empty:
            count=0
            last_psa_date='NaN'
            values=['NaN']        

        if not df1_pt["dxdate"].empty:
            pt_dx_date=df1_pt["dxdate"].to_list()[0]
            df_psa_pt=df_psa[(df_psa["person_id"] == y)]
        
            df_psa_pt_before_dx=df_psa_pt[(df_psa_pt.psa_date <= pt_dx_date)&(df_psa_pt.psa_value.notnull())]
 
            each_pt_psa_date_before_dx = df_psa_pt_before_dx['psa_date'].to_list()
            sorted_each_pt_psa_before_dx=sorted(each_pt_psa_date_before_dx)
            count=len(sorted_each_pt_psa_before_dx)
        
            if len(sorted_each_pt_psa_before_dx)==0:
                last_psa_date='NaN'
                values=['NaN']
        
            if len(sorted_each_pt_psa_before_dx)>0:
                last_psa_date=closest(sorted_each_pt_psa_before_dx,pt_dx_date)
                #pick up all values for that date
                sub_set=df_psa_pt_before_dx[(df_psa_pt_before_dx['psa_date']==last_psa_date)]
                
                #sort and get rid of redundancies
                each_pt_info= sorted(sub_set.psa_value.to_list())
                each_pt_dates=list(dict.fromkeys(each_pt_info))

                values=each_pt_dates
                print(y,count,last_psa_date,values)
            
    result_per_pt=[y,pt_dx_date,count,last_psa_date,values]
    result_list.append(result_per_pt)

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

3576 5 2016-08-22 00:00:00 ['0.98', '18.25', '5.37']
3576 5 2016-08-22 00:00:00 ['0.98', '18.25', '5.37']
3576 5 2016-08-22 00:00:00 ['0.98', '18.25', '5.37']
7532 10 2017-04-21 00:00:00 ['481', '481.04']
7867 2 2018-04-11 00:00:00 ['9.5']
7867 2 2018-04-11 00:00:00 ['9.5']
7867 2 2018-04-11 00:00:00 ['9.5']
7873 40 2015-09-15 00:00:00 ['13.85']
8260 2 2018-06-08 00:00:00 ['1.99', '21.9']
8334 23 2017-05-16 00:00:00 ['18.6']
8334 23 2017-05-16 00:00:00 ['18.6']
8334 23 2017-05-16 00:00:00 ['18.6']
8334 23 2017-05-16 00:00:00 ['18.6']
9071 1 2016-03-10 00:00:00 ['2.43']
9097 22 2015-07-22 00:00:00 ['1050.8']
9097 22 2015-07-22 00:00:00 ['1050.8']
9097 22 2015-07-22 00:00:00 ['1050.8']
11876 3 2016-07-18 00:00:00 ['0.94', '17.31', '5.43']
11876 3 2016-07-18 00:00:00 ['0.94', '17.31', '5.43']
11876 3 2016-07-18 00:00:00 ['0.94', '17.31', '5.43']
11876 3 2016-07-18 00:00:00 ['0.94', '17.31', '5.43']
11876 3 2016-07-18 00:00:00 ['0.94', '17.31', '5.43']
11876 3 2016-07-18 00:00:00 ['0.94', '17.31', '5.43']
13076 1 2017-03-02 00:00:00 ['11.2']
13076 1 2017-03-02 00:00:00 ['11.2']
13186 8 2018-07-19 00:00:00 ['5.6']
13186 8 2018-07-19 00:00:00 ['5.6']
13186 8 2018-07-19 00:00:00 ['5.6']
13186 8 2018-07-19 00:00:00 ['5.6']
13186 8 2018-07-19 00:00:00 ['5.6']
13186 8 2018-07-19 00:00:00 ['5.6']
13554 5 2015-09-08 00:00:00 ['4.97']
13554 5 2015-09-08 00:00:00 ['4.97']
13554 5 2015-09-08 00:00:00 ['4.97']
13567 7 2015-02-05 00:00:00 ['2.36', '23.85', '9.9']
17745 17 2015-11-02 00:00:00 ['1.01', '11.39', '8.87']
17745 17 2015-11-02 00:00:00 ['1.01', '11.39', '8.87']
17745 17 2015-11-02 00:00:00 ['1.01', '11.39', '8.87']
17745 17 2015-11-02 00:00:00 ['1.01', '11.39', '8.87']
17745 17 2015-11-02 00:00:00 ['1.01', '11.39', '8.87']
17782 4 2015-07-13 00:00:00 ['1146.49']
17782 4 2015-07-13 00:00:00 ['1146.49']
18380 3 2016-06-17 00:00:00 ['0.89', '18.05', '4.93']
18380 3 2016-06-17 00:00:00 ['0.89', '18.05', '4.93']
18380 3 2016-06-17 00:00:00 ['0.89', '18.05', '4.93']
19342 20 2017-09-19 00:00:00 ['6.44']
19342 20 2017-09-19 00:00:00 ['6.44']
19539 3 2015-10-19 00:00:00 ['24.83', '33.22', '8.25']
19539 3 2015-10-19 00:00:00 ['24.83', '33.22', '8.25']
19539 3 2015-10-19 00:00:00 ['24.83', '33.22', '8.25']
19539 3 2015-10-19 00:00:00 ['24.83', '33.22', '8.25']
19716 18 2017-12-20 00:00:00 ['1.8']
19716 18 2017-12-20 00:00:00 ['1.8']
20325 3 2014-08-26 00:00:00 ['1']
20325 3 2014-08-26 00:00:00 ['1']
20325 3 2014-08-26 00:00:00 ['1']
20325 3 2014-08-26 00:00:00 ['1']
20325 3 2014-08-26 00:00:00 ['1']
20651 11 2015-11-09 00:00:00 ['10.18']
20651 11 2015-11-09 00:00:00 ['10.18']
20651 11 2015-11-09 00:00:00 ['10.18']
21635 3 2017-05-18 00:00:00 ['4.97']
21635 3 2017-05-18 00:00:00 ['4.97']
21635 3 2017-05-18 00:00:00 ['4.97']
23236 6 2018-08-31 00:00:00 ['6.9']
23236 6 2018-08-31 00:00:00 ['6.9']
23236 6 2018-08-31 00:00:00 ['6.9']
23236 6 2018-08-31 00:00:00 ['6.9']
23236 6 2018-08-31 00:00:00 ['6.9']
23618 3 2013-02-27 00:00:00 ['3.5', '3.6']
25761 1 2018-04-01 00:00:00 ['3.9']
25761 1 2018-04-01 00:00:00 ['3.9']
25834 3 2016-01-25 00:00:00 ['0.79', '21.18', '3.73']
25834 3 2016-01-25 00:00:00 ['0.79', '21.18', '3.73']
25834 3 2016-01-25 00:00:00 ['0.79', '21.18', '3.73']
27944 1 2015-09-09 00:00:00 ['1.87']
27944 1 2015-09-09 00:00:00 ['1.87']
27944 1 2015-09-09 00:00:00 ['1.87']
27944 1 2015-09-09 00:00:00 ['1.87']
28180 9 2016-03-11 00:00:00 ['8.3']
28180 9 2016-03-11 00:00:00 ['8.3']
28357 2 2018-07-05 00:00:00 ['5.2']
28357 2 2018-07-05 00:00:00 ['5.2']
29475 7 2016-07-08 00:00:00 ['6.3']
29475 7 2016-07-08 00:00:00 ['6.3']
29475 7 2016-07-08 00:00:00 ['6.3']
30517 1 2016-10-12 00:00:00 ['3.9']
30517 1 2016-10-12 00:00:00 ['3.9']
31118 1 2017-08-28 00:00:00 ['0.859']
33106 16 2016-12-13 00:00:00 ['12', '277.9', '33.3']
33106 16 2016-12-13 00:00:00 ['12', '277.9', '33.3']
33106 16 2016-12-13 00:00:00 ['12', '277.9', '33.3']
33106 16 2016-12-13 00:00:00 ['12', '277.9', '33.3']
33106 16 2016-12-13 00:00:00 ['12', '277.9', '33.3']
33106 16 2016-12-13 00:00:00 ['12', '277.9', '33.3']
33503 1 2017-09-25 00:00:00 ['3.2']
33919 1 2014-03-21 00:00:00 ['13.8']
34634 1 2018-05-01 00:00:00 ['10.4']
34634 1 2018-05-01 00:00:00 ['10.4']
35721 3 2018-06-19 00:00:00 ['1.45', '9.1']
35721 3 2018-06-19 00:00:00 ['1.45', '9.1']
35721 3 2018-06-19 00:00:00 ['1.45', '9.1']
35774 3 2018-05-31 00:00:00 ['0.61', '12.2', '5']
35774 3 2018-05-31 00:00:00 ['0.61', '12.2', '5']
35774 3 2018-05-31 00:00:00 ['0.61', '12.2', '5']
169549 2 2019-05-08 00:00:00 ['1.23', '8.3']
169549 2 2019-05-08 00:00:00 ['1.23', '8.3']
171182 33 2018-11-18 00:00:00 ['4.7', '50', '62']
171182 33 2018-11-18 00:00:00 ['4.7', '50', '62']
171182 33 2018-11-18 00:00:00 ['4.7', '50', '62']
171182 33 2018-11-18 00:00:00 ['4.7', '50', '62']
171182 33 2018-11-18 00:00:00 ['4.7', '50', '62']
171182 33 2018-11-18 00:00:00 ['4.7', '50', '62']
171182 33 2018-11-18 00:00:00 ['4.7', '50', '62']
171182 33 2018-11-18 00:00:00 ['4.7', '50', '62']
171240 78 2016-11-03 00:00:00 ['9.33']
171240 78 2016-11-03 00:00:00 ['9.33']
171442 35 2018-11-13 00:00:00 ['32.18']
171442 35 2018-11-13 00:00:00 ['32.18']
171442 35 2018-11-13 00:00:00 ['32.18']
171442 35 2018-11-13 00:00:00 ['32.18']
171442 35 2018-11-13 00:00:00 ['32.18']
172448 1 2018-11-13 00:00:00 ['25.4']
172448 1 2018-11-13 00:00:00 ['25.4']
173883 11 2014-04-02 00:00:00 ['0.55']
173883 11 2014-04-02 00:00:00 ['0.55']
173883 11 2014-04-02 00:00:00 ['0.55']
173883 11 2014-04-02 00:00:00 ['0.55']
174026 3 2018-10-23 00:00:00 ['1.3', '13.1']
174026 3 2018-10-23 00:00:00 ['1.3', '13.1']
174044 1 2018-10-18 00:00:00 ['23.89']
174044 1 2018-10-18 00:00:00 ['23.89']
180904 74 2019-02-06 00:00:00 ['11.1']
180904 74 2019-02-06 00:00:00 ['11.1']
180904 74 2019-02-06 00:00:00 ['11.1']
180904 74 2019-02-06 00:00:00 ['11.1']
180904 74 2019-02-06 00:00:00 ['11.1']
180904 74 2019-02-06 00:00:00 ['11.1']
180904 74 2019-02-06 00:00:00 ['11.1']
180904 74 2019-02-06 00:00:00 ['11.1']
181011 2 2019-02-12 00:00:00 ['9']
181011 2 2019-02-12 00:00:00 ['9']
181092 10 2019-09-09 00:00:00 ['3.79', '6.08']
181092 10 2019-09-09 00:00:00 ['3.79', '6.08']
181469 3 2019-01-04 00:00:00 ['12.7', '3.46']
181469 3 2019-01-04 00:00:00 ['12.7', '3.46']
181598 1 2019-02-28 00:00:00 ['129.14']
181598 1 2019-02-28 00:00:00 ['129.14']
181598 1 2019-02-28 00:00:00 ['129.14']
181598 1 2019-02-28 00:00:00 ['129.14']
181598 1 2019-02-28 00:00:00 ['129.14']
181598 1 2019-02-28 00:00:00 ['129.14']
181598 1 2019-02-28 00:00:00 ['129.14']
182001 14 2019-04-30 00:00:00 ['0.8', '18.5', '4.3']
182001 14 2019-04-30 00:00:00 ['0.8', '18.5', '4.3']
182001 14 2019-04-30 00:00:00 ['0.8', '18.5', '4.3']
182004 1 2018-11-14 00:00:00 ['66.24']
182302 2 2019-04-01 00:00:00 ['30.59', '6']
182302 2 2019-04-01 00:00:00 ['30.59', '6']
183747 4 2019-05-06 00:00:00 ['9']
185086 6 2019-05-03 00:00:00 ['5.73']
185125 1 2019-03-19 00:00:00 ['5.26']
185574 12 2016-05-20 00:00:00 ['0.1', '1.01', '9.9']
185574 12 2016-05-20 00:00:00 ['0.1', '1.01', '9.9']
187215 9 2019-04-17 00:00:00 ['6.19']
187215 9 2019-04-17 00:00:00 ['6.19']
189556 1 2018-09-17 00:00:00 ['104.4']
189556 1 2018-09-17 00:00:00 ['104.4']
196351 8 2019-09-19 00:00:00 ['304.35']
196351 8 2019-09-19 00:00:00 ['304.35']
5043 3 2018-05-18 00:00:00 ['1.07']
5374 2 2009-10-29 00:00:00 ['3.39']
5761 4 2017-01-05 00:00:00 ['16.09']
5761 4 2017-01-05 00:00:00 ['16.09']
10276 15 2018-09-13 00:00:00 ['65.3']
10276 15 2018-09-13 00:00:00 ['65.3']
10276 15 2018-09-13 00:00:00 ['65.3']
12969 1 2016-04-11 00:00:00 ['2.92']
12969 1 2016-04-11 00:00:00 ['2.92']
12969 1 2016-04-11 00:00:00 ['2.92']
14734 12 2018-09-17 00:00:00 ['0.42']
15612 2 2012-11-08 00:00:00 ['1.68']
15612 2 2012-11-08 00:00:00 ['1.68']
19566 46 2016-09-01 00:00:00 ['1.05', '13.58', '7.73']
22691 26 2017-11-29 00:00:00 ['']
22691 26 2017-11-29 00:00:00 ['']
25011 1 2011-06-23 00:00:00 ['8.6']
29120 2 2018-07-16 00:00:00 ['21.24', '37.4']
29120 2 2018-07-16 00:00:00 ['21.24', '37.4']
29120 2 2018-07-16 00:00:00 ['21.24', '37.4']
29572 21 2017-10-26 00:00:00 ['1.58', '10.7', '14.77']
34483 1 2017-09-27 00:00:00 ['47.84']
55760 3 2014-07-07 00:00:00 ['0.73', '2.47', '29.55']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
165621 133 2019-10-02 00:00:00 ['19.69', '29.4', '66.97']
167247 21 2018-12-11 00:00:00 ['0.39', '10.5']

191902 4 2015-11-30 00:00:00 ['1.05', '18.75', '5.6']
191902 4 2015-11-30 00:00:00 ['1.05', '18.75', '5.6']
198262 2 2019-09-26 00:00:00 ['4.36']

In [278]:
df_psa_results=pd.DataFrame(result_list)
df_psa_results.columns=(['person_id', 'dx_date','Number_of_PSA_dates_with_PSA_values_before_dx','Last_PSA_date_before_dx', 'Last_PSA_values_before_dx'])

In [279]:
df_psa_results[200:203]

,person_id,dx_date,Number_of_PSA_dates_with_PSA_values_before_dx,Last_PSA_date_before_dx,Last_PSA_values_before_dx
200,17782,2015-07-16,4,2015-07-13 00:00:00,[1146.49]
201,18071,NaT,0,NaN,[NaN]
202,18071,NaT,0,NaN,[NaN]

In [280]:
len(df_psa_results)
len(list_pts_899row)

899

In [281]:
df_psa_results.to_csv("./data/pca_399pts_with_PSA_dates_and_values_before_dx.csv",encoding='utf-8',index=False)